<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <div class="flash_message h5"><%= flash[:question] %></div>
      <% if params[:tag_name].nil? %>
        <h3>質問一覧</h3>
      <% else %>
        <h2>"<%= params[:tag_name] %>" タグのついた質問一覧</h2>
      <% end %>
      <%= render 'questions/index', questions: @questions %>
      <%= paginate @questions %>
    </div>

    <div class="col-md-3 col-sm-12">
      <%= render 'questions/sidebar', tags: @tags, question_empathy_ranks: @question_empathy_ranks %>
    </div>

  </div>
</div>
