<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <div class="flash_message h5"><%= flash[:question_show] %></div>
      <h3>質問詳細</h3>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th class="th-02">名前</th>
            <th class="th-03">タイトル</th>
            <th class="th-01"></th>
            <th class="th-04">タグ</th>
          </tr>
        </thead>

        <tbody>
          <tr class="question_<%= @question.id %>">
            <%= render 'questions/show', question: @question %>
          </tr>
        </tbody>
      </table>

      <% if @question.image_id != nil %>
        <div class="image">
          <%= attachment_image_tag @question, :image %>
        </div>
      <% end %>

      <div class="content-heading h5">内容</div>
      <div class="blank"><%= simple_format @question.body %></div>
      <% if @question.user.id == current_user.id %>
        <div class="button-right">
          <%= link_to "編集", edit_question_path(@question), class: 'button btn btn-warning' %>
          <%= link_to "削除", question_path(@question), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'button btn btn-danger' %>
        </div>
      <% end %>
      <div class="border"></div>
      <div class="comment-answer h3">回答する</div>
      <div class="answer_errors">
        <%= render 'layouts/errors', obj: @answer %>
      </div>
      <%= form_with model:[@question, @answer], data: {remote: true} do |f| %>
        <%= f.text_area :answer, class: "form-control" %>
        <div class="actions">
          <%= f.submit '送信', class: 'btn btn-primary col-xs-12'%>
        </div>
      <% end %>
      <div class="blank h3">回答一覧</div>
      <div class="blank">
        <%= link_to "回答をいいね順に並べる", question_path(likes_order: @question.id) %><br>
        <br>
        <%= link_to "回答を新着順に順に並べる", question_path(@question.id) %>
      </div>
      <div class="answer_<%= @question.id %>">
        <%= render 'questions/answers', answers: @answers.order(created_at: :desc).page(params[:page]) %>
      </div>
    </div>

    <div class="col-md-3 col-sm-12">
      <%= render 'questions/sidebar', tags: @tags, question_empathy_ranks: @question_empathy_ranks %>
    </div>
  </div>
</div>