<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <% if @model == 'user' %>
        <h3>会員の検索結果 ' <%= @content %> '</h3><span>(全<%= @records.count %>件)</span>
        <%= render 'users/index', users: @records %>
      <% elsif @model == 'post' %>
        <h3>投稿の検索結果 ' <%= @content %> '</h3><span>(全<%= @records.count %>件)</span>
        <%= render 'posts/index', posts: @records %>
      <% elsif @model == 'question' %>
        <h3>質問の検索結果 ' <%= @content %> '</h3><span>(全<%= @records.count %>件)</span>
        <%= render 'questions/index', questions: @records %>
      <% end %>
    </div>

    <div class="col-md-3 col-sm-12 search">
      <%= render 'posts/search' %>
    </div>

  </div>
</div>