<div class="container">
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-md-9 col-sm-12">
    <% else %>
      <div class="col-md-12 col-sm-12">
    <% end %>
      <div class="flash_message h5"><%= flash[:notice] %></div>
      <div class="top-heading h3">投稿ランキング</div>
      <div class="top-heading h3">
        （ <i class="fas fa-thumbs-up" aria-hidden="true"></i> いいね順）トップ３
      </div>
      <table class="top-table table table-hover table-inverse">
        <thead>
          <tr>
            <th class="th-01"><i class="fas fa-thumbs-up" aria-hidden="true"></i> </th>
            <th class="th-02">名前</th>
            <th class="th-03">タイトル</th>
            <th class="th-04">タグ</th>
          </tr>
        </thead>
        <tbody>
          <% @post_like_ranks.each do |post| %>
            <tr>
              <td>
                <i class="fas fa-thumbs-up" aria-hidden="true"></i><%= post.post_likes.count %>
              </td>
              <td>
                <%= link_to user_path(post.user_id) do %>
                   <%= attachment_image_tag(post.user, :profile_image, :fill, 40, 40, fallback: "no-image1.jpg") %><br>
                <% end %>
                <%= link_to post.user.name, user_path(post.user_id) %>
              </td>
              <td>
                <%= link_to post.title, post_path(post) %><br>
                <%= post.created_at.strftime("%Y/%m/%d") %>
              </td>
              <td>
                <% post.tag_list.each do |tag| %>
                  <%= link_to tag, posts_path(tag_name: tag), class: 'button btn btn-success' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="top-heading h3">質問ランキング</div>
      <div class="top-heading h3">
        （ <i class="fas fa-smile" aria-hidden="true"></i> 共感した順）トップ３
      </div>
      <table class="top-table table table-hover table-inverse">
        <thead>
          <tr>
            <th class="th-01"><i class="fas fa-smile" aria-hidden="true"></i> </th>
            <th class="th-02">名前</th>
            <th class="th-03">タイトル</th>
            <th class="th-04">タグ</th>
          </tr>
        </thead>
        <tbody>
          <% @question_empathies_ranks.each do |question| %>
            <tr>
              <td>
                <i class="fas fa-smile" aria-hidden="true"></i>
                <%= question.empathies.count %>
              </td>
              <td>
                <%= link_to user_path(question.user_id) do %>
                  <%= attachment_image_tag(question.user, :profile_image, :fill, 40, 40, fallback: "no-image1.jpg") %><br>
                <% end %>
                <%= link_to question.user.name, user_path(question.user_id) %>
              </td>
              <td>
                <%= link_to question.title, question_path(question) %><br>
                <%= question.created_at.strftime("%Y/%m/%d") %>
              </td>
              <td>
                <% question.tag_list.each do |tag| %>
                  <%= link_to tag, questions_path(tag_name: tag), class: 'button btn btn-success' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-3 col-sm-12 search">
      <%= render 'posts/search' %>
    </div>
  </div>
</div>