<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <h3>回答編集</h3>
      <%= render 'layouts/errors', obj: @answer %>
      <%= form_with(model: @answer, url: question_answer_path(@answer.question,@answer), method: :patch, local: true) do |f| %>
        <%= f.text_area :answer, class: "form-control" %>
        <div class="actions">
          <%= f.submit '変更する', class: 'btn btn-primary col-xs-12' %>
        </div>
      <% end %>
    </div>

    <div class="col-md-3 col-sm-12 search">
      <%= render 'posts/search' %>
    </div>

  </div>
</div>