<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <h3>チャット相手の一覧</h3>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th class="th-02">名前</th>
            <th class="th-04"></th>
            <th class="th-04"></th>
          </tr>
        </thead>
        <tbody>
          <% @anotherEntries.each do |e| %>
            <tr>
              <td>
                <%= link_to user_path(e.user) do %>
                  <%= attachment_image_tag(e.user, :profile_image, :fill, 40, 40, fallback: "no-image1.jpg") %><br>
                <% end %>
                <%= link_to e.user.name, user_path(e.user) %>
              </td>
              <td>
                <%= link_to room_path(e.room.id) do %>
                  <i class="fas fa-paper-plane"> チャットへ</i>
                <% end %>
              </td>
              <td>
                <!-- フォローボタン -->
                <% if current_user.id != e.user.id %>
                  <% if current_user.following?(e.user) %>
                    <%= link_to 'フォロー外す', user_relationships_path(e.user.id), method: :delete, class: "btn btn-primary" %>
                  <% else %>
                    <%= link_to 'フォローする', user_relationships_path(e.user.id), method: :POST, class: "btn btn-success" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @anotherEntries %>
    </div>

    <div class="col-md-3 col-sm-12 search">
      <%= render 'posts/search' %>
    </div>

  </div>
</div>
