<br>
<% if user_signed_in? %>
  <h3>検索</h3>
  <%= form_tag(search_path, method: :get) do %>
    <%= text_field_tag 'search[content]' %>
    <%= select_tag 'search[model]', options_for_select({ "会員" => "user", "投稿" => "post", "質問" => "question"}) %>
    <div class="search-actions">
      <%= submit_tag '検索', class: 'btn btn-primary'%>
    </div>
  <% end %>
  <div class="search-text">
    <% if unchecked_notifications.any? %>
      <i class="fa fa-circle" style="color: gold;"></i>
    <% end %>
    <%= link_to "通知へ", notifications_path, class: "btn-default" %>
  </div>
<% end %>
